@{
    ViewBag.Title = "Add/Edit";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="page-container">
        <div class="page-content-wrapper">
            <div class="page-content-row">
                <div class="form form-horizontal">
                    <div class="portlet-title caption">
                        <i class="font-green-haze"></i>
                        <h2><span class="caption-subject font-green-haze bold uppercase">Apartment Add/Edit</span></h2>
                    </div>
                    <div class="col-md-offset-10 col-md-2">
                        <button type="submit" class="btn green">Submit</button>
                        <button type="button" class="btn default">Cancel</button>
                    </div>
                    <h3 class="form-section">Basic Info</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                @*@Html.LabelFor(model => model.CategoryId, new { @class = "control-label col-md-2" })*@
                                <label class="col-md-3 control-label-row">Apartment No.</label>
                                <input type="text" id="apartmentNumber" class="col-md-9 form-control" placeholder="Asad">
                                <span class="help-block">
                                    @*This is inline help*@
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-3 control-label-row">Building Number</label>
                                <select class="form-control">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-3 control-label-row">No. of Rooms</label>
                                <input type="text" id="noOfRooms" class="col-md-9 form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                @*@Html.LabelFor(model => model.CategoryId, new { @class = "control-label col-md-2" })*@
                                <label class="col-md-3 control-label-row">No. Of RestRooms</label>
                                <input type="text" id="noOfRestRooms" class="col-md-9 form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-3 control-label-row">No. Of Almarah</label>
                                <select class="form-control">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @*@Html.LabelFor(model => model.CategoryId, new { @class = "control-label col-md-2" })*@
                                <label class="col-md-3 control-label-row">Floor No.</label>
                                <input type="text" id="floorno" class="col-md-9 form-control" placeholder="">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                @*@Html.LabelFor(model => model.CategoryId, new { @class = "control-label col-md-2" })*@
                                <label class="col-md-3 control-label-row">Name</label>
                                <input type="text" id="name" class="col-md-9 form-control" placeholder="">
                                <span class="help-block">
                                    @*This is inline help*@
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-3 control-label-row">Phone No.</label>
                                <input type="text" id="phoneNumber" class="col-md-9 form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-3 control-label-row">Email</label>
                                <input type="text" id="email" class="col-md-9 form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-3 control-label-row">Total Area (Sq. Ft)</label>
                                    <input type="text" id="area" class="col-md-9 form-control" placeholder="">
                                </div>
                            </div>
                        </div>
                    <h3 class="form-section">Extended Information</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-3 control-label-row">Electricals</label>
                                <input type="text" id="electricals" class="col-md-9 form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-3 control-label-row">Door Lock</label>
                                <input type="text" id="doorLock" class="col-md-9 form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-3 control-label-row">Comments</label>
                                <textarea id="comments" class="col-md-9 form-control" placeholder=""></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


}

