@{
    ViewBag.Title = "Dashboard";
}
<div class="page-container dashboard-height">
    <div class="portlet-title caption">
        <i class="font-green-haze"></i>
        <h3><span class="caption-subject font-green-haze bold uppercase">Welcome to Property Management System</span></h3>
    </div>
</div>
