@{
    ViewBag.Title = "Reset password confirmation";
}
<div class="page-container page-height">
    <div class="portlet-title caption">
        <h3><span class="caption-subject font-green-haze bold uppercase">@ViewBag.Title</span></h3>
    </div>

    <div>
        <p>
            Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>